	<header>
		<div class="logo-box">
			<img src="assets/logo.png" alt="logo" />
		</div>
	</header>
	<div class="chatFullCont">
 <div class="chatBox">
      <div id="chatHeight" class="chatHeight scrollbarStyle">
        <div *ngFor="let message of messages"> 
          <div class="sender" *ngIf="message.type=='agent'">
            <div class="senderName"><span>B</span></div>
            <p>{{message.message}}</p>
            </div>
          
          <div class="recipient" *ngIf="message.type=='me'">
            <p>{{message.message}}</p>
          </div>

          <div>
            <div class="sender msgTypingDots" *ngIf="message.type=='dots'">
              <div class="senderName"><span>L</span></div>
              <div class="dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
		  </div>
      </div>
      <div class="sendMsg">
        <input type="text"  placeholder="Type a message" #box value="I am from Berlin" (keyup.enter)="box.value=SubmitRequest(box.value);"/>
        <input type="submit" value="SEND" />
      </div>
    </div>
    		<div class="articleBox" >
          <img src="{{readings_data}}" style="width:50%"/>
		</div>
	</div>